* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
/*remove o ponto em frente a lista*/
li {
  list-style: none;
  font-size: 2em;
}

body {
  font-family: "Source Code Pro", monospace;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: #aeaeae;
}

.title {
  font-size: 2em;
  font-weight: normal;
  font-style: oblique;
  color: black;
  font-weight: bolder;
}
.title2,
.title3 {
  font-size: 3em;
  font-weight: bold;
  color: black;
}
.text2,
.title3 {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

.box {
  background: #eee;
  padding: 2rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  text-align: center;
  margin-top: 10%;
  max-width: 75%;
}


.profile-gif {
  border-radius: 50%;
  width: 5rem;
  margin: 0 0 0 0;
}
.profile-pic {
  border-radius: 50%;
  width: 15rem;
  margin: 0 auto 2rem auto;
}

.profile span {
  font-size: 2rem;
}

.profile p {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.redes-sociais {
  display: flex;
  justify-content: center;
}

.redes-sociais li {
  margin-right: 1rem;
}

.portfolio {
  max-width: 90rem;
  box-sizing: border-box;
}

.portfolio ul {
  margin-top: 3rem;
}

.portfolio li {
  display: grid;
  grid-template-columns: auto 1fr;
  text-align: left;
  gap: 1rem;
  color: #606060;
}
.portfolioTitle {
  
  background: #eee;
  padding: 2rem;
  border-radius: 40px;
  text-align: center;
  margin-top: 2rem;
}

.portfolio li + li {
  margin-top: 2rem;
}

.portfolio img {
  border-radius: 10rem;
}

.portfolio h2 {
  font-weight: normal;
  margin-bottom: 1rem;
}
.skills {
  border-radius: 50%;
  width: 8rem;
  padding: 1rem;
  justify-content: flex-start;
}
.copyright {
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 16px black;
  margin: 50vh 0;
}
.wrapper {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem 10rem;
}
p{
  font-size: 1.5rem;;
}

.logo-pic {
  border-radius: 10%;
  width: 8rem;
  margin: 0 auto 2rem auto;
}

.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.btn {
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, hwb(226 2% 3%) 0%, hwb(320 1% 0% / 0.49) 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}

.img {
  background: #eee;
  padding: 2rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  display: flex; 
  justify-content: center; 
  flex-direction: column;
}

.profile-gif {
  max-width: 100%; 
}
